

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>家族后台管理系统主页</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
  <script src="/static/js/echarts.min.js"></script>
  <script src="/static/js/jquery-3.3.1.min.js"></script>
</head>
<body>
  
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-header">基础数据</div>
              <div class="layui-card-body">

                <div class="layui-carousel layadmin-carousel layadmin-backlog">
                  <div carousel-item>
                    <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs6">
                        <a class="layadmin-backlog-body">
                          <h3>家族数量</h3>
                          <p><cite id="familys">-</cite></p>
                        </a>
                      </li>
                      <li class="layui-col-xs6">
                        <a class="layadmin-backlog-body">
                          <h3>支系数量</h3>
                          <p><cite id="sublines">-</cite></p>
                        </a>
                      </li>
                      <li class="layui-col-xs6">
                        <a class="layadmin-backlog-body">
                          <h3>总人数</h3>
                          <p><cite id="members">-</cite>人</p>
                        </a>
                      </li>
                      <li class="layui-col-xs6">
                        <a class="layadmin-backlog-body">
                          <h3>管理员</h3>
                          <p><cite id="admins">-</cite>人</p>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-header">数据概览</div>
              <div class="layui-card-body">
                
                <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade">
                  <div carousel-item>
                    <div>
                      <!--日访问量-->
                      <div id="dayCount" style="width:1607px;height:332px;"></div>
                    </div>
                    <div>
                      <!--男女比例-->
                      <div id="sexCount" style="width:1607px;height:332px;"></div>
                    </div>
                    <!--<div>3</div>-->
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <script src="/static/layuiadmin/layui/layui.js?t=1"></script>
  <!--每日用户活跃数和男女比例统计图-->
  <script src="/static/js/consolecount.js"></script>
  <script>
  layui.config({
    base: '/static/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'console'], function () {
    var $ = layui.$;
    /**
     * 异步调用API，每3秒执行一次
     * 获取家族数量、支系数量、总人数、管理员人数信息
     * @return r.data.familys -> 家庭数量
     * @return r.data.sublines -> 支系数量
     * @return r.data.admins -> 管理员人数
     * @return r.data.members -> 总人数
     */
    setInterval(function () {
      $.ajax({
        type:"POST",
        url:"/count/c_index_data",
        data:{
          type:1
        },
        success:function (r) { // 获取首页基础数据成功时执行
          $("#familys").text(r.data[0].familys);
          $("#sublines").text(r.data[0].sublines);
          $("#admins").text(r.data[0].admins);
          $("#members").text(r.data[0].members);
        },
        error:function (r) { // 获取首页基础数据错误时执行
          console.error('get base data is fail.');
        }
      })
    }, 3000);
  });
  </script>
</body>
</html>

