<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.logy.mapper.CountMapper">
    <select id="countData" resultType="com.logy.mode.CountData">
        select
        *
        from
        (
        select count(*) as familys from familytab where 1=1
        ) as a join
        (
        select count(*) as members from membertab where 1=1
        ) as b join
        (
        select count(*) as admins from admintab where 1=1
        ) as c join
        (
        select count(*) as sublines from sublinetab where 1=1
        ) as d
    </select>

    <select id="countSex" parameterType="com.logy.form.CountForm" resultType="com.logy.mode.CountData">
        select
        boys,
        girls,
         a.memberFamilyID
        from
        (
        select
        ifnull(count(memberID), 0) as boys,
        memberFamilyID
        from
        membertab
        where memberSex = 1
        <if test="memberFamilyID != null">
            and memberFamilyID = #{memberFamilyID}
        </if>
        ) as a join
        (
        select
        ifnull(count(memberID), 0) as girls,
        memberFamilyID
        from
        membertab
        where memberSex = 0
        <if test="memberFamilyID != null">
            and memberFamilyID = #{memberFamilyID}
        </if>
        ) as b
        where 1=1
    </select>

    <select id="countAge" parameterType="com.logy.form.CountForm" resultType="com.logy.mode.CountData">
        select
        *
        from
        (
            select
            timestampdiff(YEAR, memberBirthday, CURRENT_DATE) as age
            from membertab
            where 1 = 1
            <if test="memberFamilyID != null">
                and memberFamilyID = #{memberFamilyID}
            </if>
        ) as a
        order by age desc
    </select>

    <select id="countSubline" parameterType="com.logy.form.CountForm" resultType="com.logy.mode.CountData">
        SELECT
        count( memberID ) AS nums,
        memberGenealogy as mgName
        FROM
        membertab
        WHERE
        1 = 1
        <if test="sublineID != null">
            and sublineID = #{sublineID}
        </if>
        GROUP BY CONVERT(memberGenealogy USING gbk)
    </select>

    <select id="countFamSubline" parameterType="com.logy.form.CountForm" resultType="com.logy.mode.CountData">
        select
        count(s.sublineID) as sublineCount,
        f.familyName
        from
        sublinetab s
        left join familytab f on s.sublineFamilyID = f.familyID
        GROUP BY f.familyName
    </select>

    <select id="countByNation" parameterType="com.logy.form.CountForm" resultType="com.logy.mode.CountData">
        select
        count(memberID) as nationCount,
        memberNation
        from
        membertab
        GROUP BY memberNation
    </select>

</mapper>